.resultlist {}

.no_margin{
margin:0px !important;
}
hl {background:yellow;}
hl[n="1"] {background:YellowGreen;}
hl[n="2"] {background:lightblue;}
hl[n="3"] {background:lightgreen;}
hl[n="4"] {background:Violet;}
hl[n="5"] {background:Plum;}
hl[n="6"] {background:Coral;}
hl[n="7"] {background:LawnGreen;}
hl[n="8"] {background:LightSkyBlue;}
hl[n="9"] {background:Orchid;}